<div class="row card-deck">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of productOrders; let i = index">
      <div class="card text-center">
        <div class="card-header" style="background-color: #bdc3c7">
          <h4>{{ order.product.productName }}</h4>
        </div>
  
        <div class="card-body">
          <a (click)="sngleProduct(order.product.id)"><img class="card-img-top img-thumbnail"
              style="width: 230px; height: 300px; cursor: pointer"  src= "{{this.productService.host+'/Imgproduct/'+order.product.productId}}" alt="image" /></a>
          <h5 class="card-title" id="price">
            Price = {{ order.product.productActualPrice }} TND<i ></i>
            <button title="Information" id="btn" (click)="showUndoBtn(i)" (click)="productInfo(order.product.productId)">
              <i class="fas fa-info-circle"></i>
            </button>
            <button title="View" id="btn" (click)="sngleProduct(order.product.productId)">
              <i class="fas fa-eye-slash"></i>
            </button>
          </h5>
          <div class="modal" [attr.id]="'undoBtn' + i" *ngIf="showBtn === i && showMyContainerInfo" class="editBtn"
            md-raised-button color="primary">
            <div class="modal-content">
              <span>{{ description }}</span>
            </div>
          </div>
          <hr style="margin-top: 0px !important; margin-bottom: 10px !important" />
          <div class="row" *ngIf="isLoggedIn">
            <div class="col-5 padding-0" *ngIf="!isProductSelected(order.product)" style="margin-left: 15px">
              <input type="number" min="0" max="10" class="form-control" [(ngModel)]="order.quantity" />
            </div>
            <div class="col-5 padding-0" *ngIf="!isProductSelected(order.product)">
              <button class="btn btn-primary" (click)="addToCart(order)" [disabled]="order.quantity <= 0">
                Buy Now
              </button>
            </div>
            <div class="col-12" *ngIf="isProductSelected(order.product)">
              <button class="btn btn-danger btn-block active" (click)="removeFromCart(order)">
                Remove From Cart
              </button>
            </div>
          </div>
          <div *ngIf="!isLoggedIn">
                <p><strong>Please login to buy product</strong> <button type="button" class="btn btn-link"
                    (click)="login()">Login</button> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller Of MSI</p>
            <h2><span>Best</span> Seller</h2>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-9%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/memeT/f3.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/memeT/f2.jpg"
                                    alt="Product"></div>
                            <div class="p" (mouseover)="imageChange($event)"><img src="../assets/memeT/f4.jpg"
                                    alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="{{url}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3" *ngFor="let order of productOrders; let i = index">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"><img src="../assets/memeT/1n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/3n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/4n.jpg" alt="Product"></div>
                        </div>
                        <div class="image" >
                            <img src= "{{this.productService.host+'/Imgproduct/'+order.product.productId}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><button title="Information" id="btn" (click)="showUndoBtn(i)" (click)="productInfo(order.product.productId)"  ><i class="fa fa-info-circle fa-1.5x " ></i></button></li>
                                <li><button  title="View" id="btn" (click)="sngleProduct(order.product.productId)" ><i class="fa fa-eye" aria-hidden="true"></i></button></li>
                                <li><button  title="Buy Now"><i class="fa fa-shopping-basket fa-1.5x" ></i></button></li>
                                <div class="modal" [attr.id]="'undoBtn' + i" *ngIf="showBtn === i && showMyContainerInfo" class="editBtn"
                                 md-raised-button color="primary">
                                <div class="modal-content" style="color: bisque;">
                                <span>{{ description }}</span>
                                </div>
                                 </div>
                            </ul>
                        </div>
                    </div>
                    <hr style="margin-top: 0px !important; margin-bottom: 10px !important" />
                    <div class="row" *ngIf="isLoggedIn">
                      <div class="col-5 padding-0" *ngIf="!isProductSelected(order.product)" style="margin-left: 15px">
                        <input type="number" min="0" max="10" class="form-control" [(ngModel)]="order.quantity" />
                      </div>
                      <div class="col-5 padding-0" *ngIf="!isProductSelected(order.product)">
                        <button class="btn btn-primary" (click)="addToCart(order)" [disabled]="order.quantity <= 0">
                          Buy Now
                        </button>
                      </div>
                      <div class="col-12" *ngIf="isProductSelected(order.product)">
                        <button class="btn btn-danger btn-block active" (click)="removeFromCart(order)">
                          Remove From Cart
                        </button>
                      </div>
                    </div>
                    <div *ngIf="!isLoggedIn">
                          <p><strong>Please login to buy product</strong> <button type="button" class="btn btn-link"
                              (click)="login()">Login</button> </p>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">{{ order.product.productName }}</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">{{ order.product.productActualPrice }}</span><span class="price-old">{{ order.product.productDiscountPrice }}</span></p>
                    </div>
                </div>
            </div>
          <!--- <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-8%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"><img src="../assets/memeT/1n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/3n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/4n.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/memeT/f2.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-6%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"><img src="../assets/memeT/1n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/3n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/4n.jpg" alt="Product"></div>
                        </div>
                        <div class="image">
                            <img src="../assets/memeT/f4.jpg" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="content">
                        <a href="javascript:void(0);">Incidid Tongue Bar</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">$81.00</span><span class="price-old">$89.00</span></p>
                    </div>
                </div>
            </div>--> 
        </div>
    </div>
</section>

  