<div class="bootstrap-wrapper">
    <div class="container" >
      <div class="row" >
        <div class="col-md-6 offset-md-3">
          <mat-card>
            <div class="container text-center">
                <img src="../../../assets/sign-up.png" alt="">
            </div>
        
          <form [formGroup]="this.userService.formData" (ngSubmit)="onSubmit()" class="imB">
         
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>User Name</mat-label>
                  <input  class="form-control form-control-user" formControlName="username" id="username" name="username"  matInput placeholder="User Name" required>
                  <mat-hint>user must be unique</mat-hint>
                </mat-form-field>
               
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input class="form-control form-control-user" formControlName="firstName" id="firstName" name="firstName"  matInput placeholder="First tName" required>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input  class="form-control form-control-user" formControlName="lastName" id="lastName" name="lastName"  matInput placeholder="Last Name" required>
                </mat-form-field>


                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>User password</mat-label>
                    <input class="form-control form-control-user" formControlName="password" id="password" name="password" type="password" matInput placeholder="Password" required>
                  </mat-form-field>

         
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Name On Card</mat-label>
                    <input class="form-control form-control-user" formControlName="nameOnCard" id="nameOnCard" name="nameOnCard"  matInput placeholder=" Name ON Card" required>
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input  class="form-control form-control-user" id="email" formControlName="email"  type="email" matInput placeholder=" Email" required>
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input  class="form-control form-control-user" id="address" formControlName="address" name="address"  type="address" matInput placeholder=" Address" required>
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input class="form-control form-control-user" id="phone" formControlName="phone" name="phone" type="number" matInput placeholder="Phone" required>
                  </mat-form-field>

                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Card Validation Value</mat-label>
                    <input class="form-control form-control-user" id="cvv" formControlName="cvv"  name="cvv" type="number" matInput placeholder="Card Number" required>
                  </mat-form-field>
                  
                  <div class="form-group" style="margin-top:10px;">
                    <label style="color: hsl(124, 16%, 83%);">Choose photo profile </label>
                    <input type="file" accept="image/*" (change)="onSelectFile($event)">
                    <img [src]="imgURL" height="200" *ngIf="imgURL">
                </div>

                  <div class="row m-t-25 text-left" class="nou" >
                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                               
                         <span class="pull-left"> <input type="checkbox"  id="acceptTerms"
                             class="form-check-input" /></span>

                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                <span class="text-inverse">I read and accept <a href="#">Terms &amp; Conditions.</a></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:20px;">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                <span class="text-inverse">Send me the <a href="#!">Newsletter</a> weekly.</span>
                            </label>
                        </div>
                    </div>
                </div>


                  
                  <div  class="form-actions" class="containerBB">
                      <button  mat-raised-button color="primary" style=" margin-left:15px ;">Register</button>
                      <button style="margin-right:10px ;margin-left:5px" mat-raised-button color="accent" (click)="onReset()">Clear</button>
                  </div>
         
          </form>
        </mat-card>
        </div>
      </div>
    </div>
  </div>

  