
<div class="container" style="background: aliceblue;" [hidden]="orderFinished">
    <div class="row" >
      <div hidden="true" class="col-lg-6">
      
          <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished">
          </app-shopping-cart>
   
      </div>

      <div class="col-lg-5">
        <div class="input-group mb-3" style="margin-top: 15px;">
          <input type="text" class="form-control" placeholder="Search product" name="name" [(ngModel)]="name">
          <button class="btn btn-danger" type="button" (click)="search()"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="padding-bottom: 40px;" *ngIf="!showSearch">
    <div class="col-md-12">
      <app-products #productsC [hidden]="orderFinished"></app-products>
    </div>
    
  
    <div class="col-md-6 offset-3">
      <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
    </div>
  </div>
  


<div *ngIf="showSearch">
  <section class="bg-color">
    <div class="containers">
      <div class="row">
        <div class="col-md-3" class="text-center" *ngFor="let product of products; let i = index">
          <div class="card">
            <div class="card-main">
                <div class="discount">-10%</div>
                  <div class="label label-green">Pre-order</div>
                     <div class="product-container">
                       <div class="p"><img src="../assets/memeT/1n.jpg" alt="Product"></div>
                       <div class="p"><img src="../assets/memeT/3n.jpg" alt="Product"></div>
                       <div class="p"><img src="../assets/memeT/4n.jpg" alt="Product"></div>
                </div>
                <div class="image" >
                    <img src= "{{this.productService.host+'/Imgproduct/'+product.productId}}" alt="Product">
                </div>
                <div class="cart-line"></div>
                <div class="cart-item">
                    <ul>
                        <li><button title="Information" id="btn" (click)="showUndoBtn(i)" (click)="productInfo(product.productId)"  ><i class="fa fa-info-circle fa-1.5x " ></i></button></li>
                        <li><button  title="View" id="btn" (click)="sngleProduct(product.productId)" ><i class="fa fa-eye" aria-hidden="true"></i></button></li>
                        <li><button  title="Buy Now"><i class="fa fa-shopping-basket fa-1.5x" ></i></button></li>
                        <div class="modal" [attr.id]="'undoBtn' + i" *ngIf="showBtn === i && showMyContainerInfo" class="editBtn"
                         md-raised-button color="primary">
                        <div class="modal-content" style="color: bisque;">
                          <span>{{product.productDescription}}</span>
                        </div>
                         </div>
                    </ul>
                </div>
            </div>
            <hr style="margin-top: 0px !important; margin-bottom: 10px !important" />
            <div class="row" *ngIf="isLoggedIn">
              <div class="shop">
              <div class="text-center" *ngIf="!isProductSelected(order.product)" style="margin-right: 80px ;margin-left: 40px;">
                <input type="number" min="0" max="10" class="form-control" [(ngModel)]="order.quantity" />
              </div>
              <div class="ss">
              <div *ngIf="!isProductSelected(product)">
                 <a *ngIf="isLoggedIn && !isProductSelected(order.product)" (click)="addToCart(order,  user.id)" href="javascript:void(0);" class="cart-btn"><i class="fa fa-shopping-cart" ></i>Add To Cart</a>
              </div>
              </div>
            </div>
              <div class="col-12" *ngIf="isProductSelected(product)">
                <button class="btn btn-danger btn-block active" (click)="removeFromCart(order)" style="margin-right: 30px ;margin-left: 30px;">
                  Remove From Cart
                </button>
              </div>
            
            </div>
           
            <div class="content">
                <a href="javascript:void(0);">{{ product.productName }}</a>
                <div class="rating">
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p><span class="money">{{ product.productActualPrice }}</span><span class="price-old">{{ product.productDiscountPrice }}</span></p>
            </div>
         </div>
       </div>
      </div>
    </div>
   </section>
</div>
  


