
  

  
  <section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller Of MSI</p>
            <h2><span>Best</span> Seller</h2>
        </div>
        <div class="row">
            
            <div class="col-md-3" *ngFor="let product of products let i = index;">
                <div class="card">
                    <div class="card-main">
                        <div class="discount">-10%</div>
                        <div class="label label-green">Pre-order</div>
                        <div class="product-container">
                            <div class="p"><img src="../assets/memeT/1n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/3n.jpg" alt="Product"></div>
                            <div class="p"><img src="../assets/memeT/4n.jpg" alt="Product"></div>
                        </div>
                        <div class="image" >
                            <img src= "{{this.productService.host+'/Imgproduct/'+product.productId}}" alt="Product">
                        </div>
                        <div class="cart-line"></div>
                        <div class="cart-item">
                            <ul>
                                <li><button title="Information" id="btn" (click)="showUndoBtn(i)" (click)="productInfo(product.productId)"  ><i class="fa fa-info-circle fa-1.5x " ></i></button></li>
                                <li><button  title="View" id="btn" (click)="sngleProduct(product.productId)" ><i class="fa fa-eye" aria-hidden="true"></i></button></li>
                                <li><button  title="Buy Now"><i class="fa fa-shopping-basket fa-1.5x" ></i></button></li>
                                <div class="modal" [attr.id]="'undoBtn' + i" *ngIf="showBtn === i && showMyContainerInfo" class="editBtn"
                                 md-raised-button color="primary">
                                <div class="modal-content" style="color: bisque;">
                                <span>{{ description }}</span>
                                </div>
                                 </div>
                            </ul>
                        </div>
                    </div>
                    <hr style="margin-top: 0px !important; margin-bottom: 10px !important" />
               
                   
                    
                    
                    <div class="login" *ngIf="!isLoggedIn">
                         <button type="button" class="cart-btnL"
                            (click)="login()"><i class="fa fa-sign-in" aria-hidden="true"></i>Please login to buy product</button> 
                      </div>
                    <div class="content">
                        <a href="javascript:void(0);">{{ product.productName }}</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <p><span class="money">{{ product.productDiscountPrice }}</span><span class="price-old">{{ product.productActualPrice }}</span></p>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</section>