
    <div class="row">
      <div class="col-lg-8" style="margin-top: 50px;margin-left: 80px;padding-right: 38px;" [hidden]="orderFinished">
        <section class="best-selling" *ngFor="let order of productOrders let i = index;" >
          <div class="containers">
            <div class="best-selling-container " [hidden]="orderFinished" >
              <div class="sale-price">
                Sale <strong>40%</strong>
              </div>
              <div class="selling-col-1">
                <div class="selling-left">
                  <ul>
                    <li>
                      <span class="count-date">{{days}}</span>
                      <span class="count-day">Days</span>
                    </li>
                    <li>
                      <span class="count-date">{{hours}}</span>
                      <span class="count-day">Hours</span>
                    </li>
                    <li>
                      <span class="count-date">{{mins}}</span>
                      <span class="count-day">Mins</span>
                    </li>
                    <li>
                      <span class="count-date">{{secs}}</span>
                      <span class="count-day">Secs</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="selling-col-2">
                <div class="selling-img">
                  <img src= "{{this.productService.host+'/Imgproduct/'+order.product.productId}}" alt="Best">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item" *ngFor="let tag of tags"
                      style="margin-left: 5px;  margin-top: 10px; padding: 5px 10px;">
                      
                      <a [routerLink]="['/display-tag/', tag.id]" href="javascript:void(0);" class="cart-btnT"><i class="fa fa-tags" aria-hidden="true" ></i> {{tag.name}}</a>
                    </li>
                  </ul>
                </div>
                <div *ngIf="!isProductSelected(order.product)">
                  <input type="hidden" tabindex="0" min="1" max="1" class="form-control" [(ngModel)]="order.quantity" />
                </div>
          
              </div>
              <div class="selling-col-3">
                <div class="selling-heading">
                  <a href="javascript:void(0);">{{order.product.productName}}</a>
                  <div class="selling-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                </div>
                <p>
                  {{order.product.productDescription}}
                </p>
                <h3>
                  <span class="selling-amount">{{order.product.productDiscountPrice}}</span>
                  <span class="selling-discount">{{order.product.productActualPrice}}</span>
                </h3>
                <div class="selling-button">
                  <a *ngIf="isLoggedIn && !isProductSelected(order.product)" (click)="addToCart(order,  user.id)" href="javascript:void(0);" class="cart-btn"><i class="fa fa-shopping-cart" ></i>Add To Cart</a>
                  <a *ngIf="isProductSelected(order.product)" (click)="removeFromCart(order,  user.id)" href="javascript:void(0);" class="cart-btnn"><i class="fa fa-shopping-cart" ></i>Remove From Cart</a>
                  <button type="button" class="main-button">
                  <a href="javascript:void(0);"><i class="fa fa-heart"></i></a>
                  <a href="javascript:void(0);"><i class="fa fa-search"></i></a>
                    </button>
                </div>
                <div class="login" *ngIf="!isLoggedIn">
                  <p> <button type="button" class="cart-btnL"
                      (click)="login()"><i class="fa fa-sign-in" aria-hidden="true"></i>Please login to buy product</button> </p>
                </div>
                </div>
      
              </div>
       
          </div>
        </section>
      </div>
      



      <div class="col" style="padding-right: 3px;  margin-right: 10px;">
        <div style="margin-top: 40px; width: 400px;">
          <app-shopping-cart (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished">
          </app-shopping-cart>
        </div>
  
        <div>
          <app-orders #ordersC [hidden]="!orderFinished"></app-orders>
        </div>
      </div>
      <hr style="border: 1px solid #ddd;">
    </div>
 
  
  <div class="container" style="margin-bottom: 50px;" [hidden]="orderFinished">
    <div class="info-comment">
      <p><strong>Comments </strong> </p>
    </div>
  
    <div class="card col-md-8" *ngIf="isLoggedIn">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="comment.title">
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="3" placeholder="Message" name="message"
              [(ngModel)]="comment.message"></textarea>
          </div>
          <a (click)="addComment(idProduct, user.username)" class="btn btn-primary">Add comment</a>
        </form>
      </div>
    </div>
  
    <div class="card col-md-8" *ngIf="!isLoggedIn">
      <div class="card-body">
        <div class="info-comment">
          <p><strong>Please login to add Comment </strong> <button type="button" class="btn btn-link"
              (click)="login()">Login</button> </p>
        </div>
      </div>
    </div>
  
    <div class="container-comment" *ngFor="let item of comments">
     
        <img src= "{{this.userService.host+'/Imgusers/'+user.id}}" alt="User" style="width:90px">
      
        
      <p><span>{{item.addedBy}}</span> {{item.addedAt | date}}</p>
      <p><strong>{{item.title}}: </strong> {{item.message}}</p>
    </div>
  
  </div>
  
  