
 
     <section>
       <div class="card-deck" style="padding-bottom: 40px;">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products  let i = index;">
          <div class="card text-center">
            <div class="card-header" style="background-color: #bdc3c7;">
              <h4>{{product.productName}} </h4>
            </div>
    
            <div class="card-body">
              <a > <img class="card-img-top img-thumbnail"
                  style="width: 230px; height: 300px; cursor: pointer;"    alt="image"></a>
              <h5 class="card-title" id="price">Price = {{product.productActualPrice}} TND<i ></i>
                <button title="Information" id="btn" (click)=showUndoBtn(i) (click)="productInfo(product.productId)">
                  <i class="fas fa-info-circle"></i></button>
                <button title="View" id="btn" > <i class="fas fa-eye-slash"></i></button>
              </h5>
             
                <div class="modal-content">
                  <span>{{product.productDescription}}</span>
                </div>
         
    
            </div>
          </div>
        </div>
      </div>
    </section>