

.footer-top{
    padding:50px 0;
    background: #111;
}
.foot-top-menu ul{
    padding:0;
    margin:0;
}
.footer-top-menu ul li{
    list-style-type: none;
    margin-top: 20px;
    color:rgba(255, 255, 255);

}
.footer-top-menu ul li i{
    margin-right: 10px;
    font-size: 17px;
}
.footer-top-menu ul li .heading{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}
.footer-top-menu ul li .address{
 color: #ccc;
 padding-left: 10px;
 font-size:15px;

}
.footer-top-menu ul li .email a{
    padding-left: 10px;
    color:#ccc;
    text-decoration: underline;
    transition: .3s all ease;
    font-size: 15px;

}
.footer-top-menu ul li .email a:hover{
    color:#ff4000;
}
.footer-top-menu ul li .number a{
    color:#ff4000;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    text-decoration: none;
}
.footer-all-menu h2{
    color: #ff4000;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin: 0;
}
.footer-all-menu h2::before{
    position: absolute;
    content: '';
    width: 50px;
    height: 2px;
    background: #dbdbdb;
    opacity: .1;
    bottom: -19px;
    left: 0;
   
}
.footer-all-menu ul {
    padding: 0;
    margin: 30px 0 0 0;

}
.footer-all-menu ul li{
    list-style-type: none;
    margin-top: 8px;
    transition:all .3s ease;

}
.footer-all-menu ul li a{
    text-decoration: none;
    font-weight: 400;
    color:#666;
    font-size: 15px;
    transition:all .3s ease;

}
.footer-all-menu ul li i{
    font-size: 7px;
    margin: -2px 10 px 0 0;
}
.footer-all-menu ul li:hover i{
    color:#ff4000;
    
}
.footer-all-menu ul li a:hover {
    color:#ff4000;
    margin-left:10px ;
}

.footer-middle{
    padding:50px 0;
    background:#1d1d1d;

}
.footer-middle h2{
font-size:20px ;
color: #fff;
font-weight:700;

}
.input{
    border:0;
    outline:0;
    color: #ccc;
    background: #111;
    padding: 0 16px;
    margin:0;
    min-width: 360px;
    height: 45px;
    font-size: 14px;
    font-style: italic;
    border-radius: 20px 0 0 20px;
    position: relative;

}

.btn{
    position: inherit;
    top: 0;
    right: 0;
    color: #fff;
    background: #111;
    padding: 0 25px;
    border-radius:0 20px 20px 0 ;
    height: 45px;
    border: 0;
    outline: 0;
    transition: all .3s ease;
}
.btn:active, .btn:focus{
    border:0!important;
    outline: 0 !important;
    box-shadow: none!important;

}
.btn:hover i{
    color: #ff4000;
}
.social ul{
padding:0;
margin: 0;
}
.social ul li {
    position:relative;
    display: inline-block;
    margin-right: 5px;
    list-style-type: none;

}
.social ul li a{
    width:45px;
    height:45px;
    border-radius: 50%;
    background: rgba(255,255,255, .2);
    display: inline-block;
    font-size: 18px;
    color:#c9c9c9;
    transform:all .3s ease;

}
.social ul li a i{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.social ul li a:hover{
    background:#ff4000;
    color: #fff;
}
footer{
    padding: 20px 0;
    background: #111;
}
.footer p{
    margin:0;
    padding:0;
    color:#ccc;
}
.footer p a{
    color:#fff;
    transition: all .3s ease;
}
.footer p a:hover{
    text-decoration: none;
    color:#ff4000;
}
