
<!--  <mat-card>
    <mat-action-list>

        <div mat-subheader>Menu</div>
        <button mat-list-item   routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon>Home</button>
        <button mat-list-item    routerLink="/admin/profile">
         
            <mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>

            <button mat-list-item    routerLink="/admin/add-product">
         
                <mat-icon mat-list-icon>add_shopping_cart</mat-icon>Add-Product</button>
                <button mat-list-item    routerLink="/admin/show-product">   <mat-icon mat-list-icon>shop</mat-icon>Showing-Products</button>
    </mat-action-list>
</mat-card>-->
<div class="col-lg-6" hidden="true">
      
    <app-shopping-cart  (onOrderFinished)=finishOrder($event) #shoppingCartC [hidden]="orderFinished">
    </app-shopping-cart>

</div>

<div class="card" *ngIf="cartLength>=1" style="margin-top: 30px;">
    <div class="card-body">
     
        
     <h1>Your cart</h1>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cart of carts | paginate: { itemsPerPage: 3, currentPage: p }" >
                <th scope="row"><img src= "{{this.cartService.host+'/ImgCart/'+cart.id}}" class="img-thumbnail" style="width: 100px;"></th>
                <td>{{cart.name}}</td>
                <td>{{cart.price}}</td>
                <td>{{cart.quantity}}</td>
                <td><span class="material-icons" (click)="deleteCart(cart.id, user.id)"
                    style="cursor: pointer; color: #e15f41;">delete_forever</span></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        
     
    </div>
  </div>